*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

:root{
    --primary-RL-magin: 0px 80px;
    --center: 0 auto;
    --primary-color: #FD6E0A;
}

.text-primary{
    color:#FD6E0A;
}
.btn-primary{
    background: #FD6E0A;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 25px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:var(--primary-RL-magin);
    margin-top: 30px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 60px;
}

nav a{
    text-decoration: none;
    color: #474747;
}