*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

:root{
    --primary-RL: 0px 200px;
    --primary-R: 200px;
    --primary-L: 200px;
    --center: 0 auto;
    --text-primary: #FD6E0A;
    --nav-height: 30px;
}

.text-primary{
    color:#FD6E0A;
}
.btn-primary{
    background: #FD6E0A;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 25px;
}

/*margin collapse problem*/
header{
    --banner-height:837px;
    background: #FFF8F3;
    /* margin collapse solution*/
    /*display: flow-root: The element generates a block element box that establishes a new block formatting context, defining where the formatting root lies.*/
    /*display: flex/grid also works*/
    height: var(--banner-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("./resources/portfolio-resources/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:var(--primary-RL);
    margin-top: 30px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 60px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

.banner-container{
    /* height: calc(var(--banner-height) - 15px - 15px - 20px - 1px - var(--nav-height)); */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid red;
    position: relative;

}

.banner-container .b-info{
    height: inherit;
    margin-left: var(--primary-L);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:1px solid #181818;

}

.banner .btn-contact{
    background-color: white;
    color: var(--text-primary);
    border:1px solid var(--text-primary);
}

.banner-container img{
    margin-right: 50px;
    border: 1px solid red;
}