@import url('https://fonts.googleapis.com/css2?family=Open+Sans:@&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*Global variable*/
:root {
    --primary-RL: 0px 200px;
    --primary-R: 200px;
    --primary-L: 200px;
    --center: 0 auto;
    --text-primary: #FD6E0A;
    --primary-background: #FFF8F3;
    --nav-height: 30px;
    --primary-W: 1400px;
    --primary-radius: 10px;
    --card-gap: 150px;
    --text-gap: 40px;
    --dark-1: #181818;
    --dark-2:#474747;
    --dark-3:#757575;
    --font-1: 85px;
    --font-2: 45px;
    --font-3: 35px;
    --font-4: 30px;
    --font-5: 25px;
    --font-6: 20px;
    --font-7: 16px;
    --weight-1: 700;
    --weight-2: 600;
    --weight-3: 500;
    --weight-4: 400;

}

/*Shared class*/
.p-primary
{
    width: 827px;
    margin-top: var(--text-gap);
    text-align: center;
}
.btn-primary {
    background: #FD6E0A;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 25px;
}
/* .small-text{
    color: var(--dark-3);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.small-heading{
    color: var(--dark-1);
    font-size: 20px;
    font-weight: 700;
}
.mid-heading{
    color: var(--dark-1);
    font-size: 35px;
    font-weight: 700;
} */

/*Style start*/
/*margin collapse problem*/
header {
    --banner-height: 870px;
    background: var(--primary-background);
    /* margin collapse solution*/
    /*display: flow-root: The element generates a block element box that establishes a new block formatting context, defining where the formatting root lies.*/
    /*display: flex/grid also works*/
    height: var(--banner-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("./resources/portfolio-resources/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

nav {
    width: var(--primary-W);
    margin: var(--center);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: var(--primary-RL); */
    margin-top: 60px;
}

.nav-title {
    color: var(--dark-1);
    font-size: 45px;
    font-weight: 800;

}

nav .text-primary{
    color: var(--text-primary);
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 60px;
}

nav a {
    text-decoration: none;
    color: var(--dark-2);
    font-size: 20px;
    font-weight: 400;
}

.banner-container {
    /* height: calc(var(--banner-height) - 15px - 15px - 20px - 1px - var(--nav-height)); */
    width: 100%;
    height: 100%;
    /* border: 1px solid purple; */
    position: relative;

}

.banner-container .b-main {
    height: 100%;
    width: var(--primary-W);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* border: 1px solid red; */
    margin: var(--center);
}

.banner-container .b-info {
    height: inherit;
    /* margin-left: var(--primary-L); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border:1px solid #181818; */
}

.banner-container .b-info h1{
    font-size: var(--font-1);
    font-weight: var(--weight-1);
    color: var(--dark-1);
}

.banner-container .b-info h3{
    font-size: var(--font-2);
    font-weight: var(--weight-2);
    color: var(--dark-2);
}

.banner-container .b-info p{
    width: 585px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    color: var(--dark-3);
    color: var(--dark-3);
}

.banner-container .btn-container{
    margin-top: 25px;
}

.banner-container .btn-container .btn-contact {
    background-color: white;
    color: var(--text-primary);
    border: 1px solid var(--text-primary);
    margin-left: 20px;
}

.banner-container img {
    /* margin-right: 50px; */
    position: absolute;
    right: 50px;
}


.about-card {
    height: 550px;
    width: var(--primary-W);
    margin: var(--center);
    background: var(--primary-background);
    border-radius: var(--primary-radius);
    -webkit-border-radius: var(--primary-radius);
    -moz-border-radius: var(--primary-radius);
    -ms-border-radius: var(--primary-radius);
    -o-border-radius: var(--primary-radius);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: var(--card-gap);
}

.about-card h1{
    color: var(--dark-1);
    font-size: 35px;
    font-weight: 700;
}

.about-card p{
    color: var(--dark-3);
    font-size: 18px;
    font-weight: 400;
}

.about-card ul{
    width: 827px;
    margin-top: var(--text-gap);
}

.about-card ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.about-card ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-card ul li span{
    color: var(--dark-3);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.about-card ul li strong{
    font-size: 20px;
    line-height: 30px;
    color: var(--dark-2);
    font-weight: 700;
}

.service-card {
    width: var(--primary-W);
    margin: var(--center);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--card-gap);
}

.service-card p{
    margin-top: var(--text-gap);
    color: var(--dark-3);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.service-card h1{
    color: var(--dark-1);
    font-size: 35px;
    font-weight: 700;
}

.service-card ul {
    width: inherit;
    height: 377px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: var(--text-gap);
}

.service-card ul li {
    width: 267px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    /* border: 1px solid red; */
}

.service-card ul li h3{
    color: var(--dark-1);
    font-size: 20px;
    font-weight: 700;
}

.service-card ul li p{
    color: var(--dark-3);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.service-card ul li p, .service-card h3, .service-card ul img{
    margin: 25px 33px 0px;
}



.resume-section{
    width: var(--primary-W);
    margin: var(--center);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: var(--card-gap);
}

.resume-section h1{
    color: var(--dark-1);
    font-size: 35px;
    font-weight: 700;
}

.resume-section .resume-container{
    display: flex;
    justify-content: center;
    margin-top: calc(var(--card-gap) - 80px);
    gap: 20px;
}

.resume-container .skill{
    width: 538px;
    gap: 200px;
}

.resume-container .skill h1{
    color: var(--dark-2);
    font-size: 30px;
    font-weight: 700;
}

.resume-container .skill h3{
    margin-top:var(--text-gap);
    color: var(--dark-2);
    font-size: 25px;
    font-weight: 700;
}

.resume-container .skill h4{
    margin-top: 20px;
    color:var(--dark-3);
    font-size: 20px;
    font-weight: 600;
}

.resume-container .skill p{
    color: var(--dark-3);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
    width: 458px;
}

.resume-section .resume-container div div{
   gap: 40px;
}

.resume-section button{
    margin-top: 50px;
}

footer{
    background:var(--primary-background);
    height: 870px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--card-gap);
}

footer .container{
    width: var(--primary-W);
    border: 1px solid#FD6E0A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container p{
    width: 600px;
}

footer form{
    display: flex;
    flex-direction: column;
    gap:30px;
    border-radius: var(--primary-radius);
    -webkit-border-radius: var(--primary-radius);
    -moz-border-radius: var(--primary-radius);
    -ms-border-radius: var(--primary-radius);
    -o-border-radius: var(--primary-radius);
}

footer form input{
    border: none;
    outline: none;
    height: 90px;
    width: 500px;
}

footer form .msg{
    height: 250px;
}